h1 {
color: brown;
}

/* {
    border: solid;
}*/

.header{
    background-color : burlywood;
    display: flex;
    justify-content: space-between;
 }

 .grid {
display: flex ;
flex-wrap : wrap;
justify-content: space-evenly;

 }

 .origami{

    border-radius: 20px;
    background-color: blanchedalmond;

    width: 750px;
    font-family: fantasy

 }